body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: system-ui;
  background-color: #222;
  color: #c0c0c0;
}

.light-theme {
  background-color: #d8d8d8;
  color: #d8d8d8;
}

.dark-theme {
  background-color: #222;
  color: #222;
}